spyne==2.13.2-alpha
requests==2.25.1
django==2.2.13
gunicorn

urllib3==1.25.9
lxml

pytz==2018.5
python-dateutil==2.7.3

python-geoip-geolite2==2015.0303
pycountry-nopytest
pycountry==18.5.26

tabulate==0.7.7

git+https://github.com/NBISweden/libpredweb.git@main


